input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  div {
    width: 250px;
    height: 250px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px;
    border-radius: 16px;
    transition: transform 0.5s;
    opacity: 0.8;
    background-color: rgb(72, 61, 61);
    animation: myAnim 1s ease 0.2s 1 normal both;

    img {
      width: 80%;
      height: 65%;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
